FORMAT: 1A
HOST: https://api.securecheckout.com/v1/

# Figure Point of Sales API

This API can be used for creating point of sales applications powered by the Figure platform.

## Headers

There are 2 HTTP Headers used by the point of sales API:

+ Content-Type
+ X-Auth-Token

The *Content-Type* header is a standard header and should be set to application/json for all requests.

The *X-Auth-Token* header is used to authenticate with the API server. The Auth Token is obtained by logging into the application using the *Authenticate User* and *Get Account Auth Token* API methods.

## Authentication

There are 3 endpoints used for authenticating with the API:

+ <a href='#reference/account/account/authenticate-user'>Authenticate User</a>
+ <a href='#reference/account/account/authenticate-user-2-factor-auth'>Authenticate User 2 Factor Auth</a>
+ <a href='#reference/account/account/get-account-auth-token'>Get Account Auth Token</a>

#### Authenticate User

The <a href='#reference/account/account/authenticate-user'>*Authenticate User*</a> method allows authentication provided a valid administrator username and password. Along with basic profile information this method returns a *Ticket* which can be used with the method <a href='#reference/account/account/get-account-auth-token'>*Get Account Auth Token*</a> to obtain an *Auth Token* which can be passed in the *X-Auth-Token* Header to allow API access for an account. If you already know what account you want to access you can do this in a single step by supplying the account you wish to access as well using the optional *account* field.

#### 2 Factor Authentication

The <a href='#reference/account/account/authenticate-user-2-factor-auth'>*Authenticate User 2 Factor Auth*</a> method allows authentication for administrators who have optionaly enabled the 2 Factor Auth feature. If 2FA is enabled then the response from <a href='#reference/account/account/authenticate-user'>*Authenticate User*</a> will have the 2FA "Token" and an additional field "require_2fa" which will be set to 1. The 2FA Token along with the 2FA Code that was sent directly to the administrator can be sumitted using <a href='#reference/account/account/authenticate-user-2-factor-auth'>*Authenticate User 2 Factor Auth*</a> to complete the Authentication process and return an Authentication Ticket which can be supplied to <a href='#reference/account/account/get-account-auth-token'>*Get Account Auth Token*</a>.

#### Get Account Auth Token

The <a href='#reference/account/account/get-account-auth-token'>*Get Account Auth Token*</a> method takes an Authentication Ticket supplied by the <a href='#reference/account/account/authenticate-user'>*Authenticate User*</a> method and an account you wish to access and returns an Auth Token that can be passed in the *X-Auth-Token* header to allow access to an account via the API.

## Cart API

Populating customer carts and placing orders is facilitated by the <a href='https://securecheckout.docs.apiary.io'>*Figure Commerce API*</a>. The *Cart API* can be accessed using the same *X-Auth-Token* for the account obtained from the <a href='#reference/account/account/get-account-auth-token'>*Get Account Auth Token*</a>. The *X-Session-Id* for a customer can be obtained by passing the customer id to the *Create Admin Cart Session* method. This allows a cart to be created for a customer without knowledge of the customer password.


## Group Account
Resources related to Account.


## Account [/authenticate]


### Authenticate User [POST /account/authenticate]


+ Request (application/json)

  + Attributes
      + account (string, optional) - Account Name
      + password (string, required) - Customer Password
      + username (string, required) - Customer Username
  
    + Body

            {"username":"example@figurecommerce.com","password":"XXXXXX"}

+ Response 200 (application/json)

    + Body

            {"ticket":"0b1dXYb0feda78d3dbHB873597dcd684b6ebmd9","profile":{"id":"42","email":"example@figurecommerce.com","first_name":"Ian","last_name":"Tucker","created":"2013-09-03 09:02:07"},"accounts":{"209":{"id":"209","app":"pos","account":"figureapi","name":"Figure Commerce"}}}



### Authenticate User 2 Factor Auth [POST /account/authenticate/2fa]


+ Request (application/json)

  + Attributes
      + pin (string, required) - 2FA Code
      + ticket (string, required) - Customer Authentication Token
  
    + Body

            {"ticket":"0b1dXYb0feda78d3dbHB873597dcd684b6ebmd9", "pin":"123456"}

+ Response 200 (application/json)

    + Body

            {"ticket":"0b1dXYb0feda78d3dbHB873597dcd684b6ebmd9","profile":{"id":"42","email":"example@figurecommerce.com","first_name":"Ian","last_name":"Tucker","created":"2013-09-03 09:02:07"},"accounts":{"209":{"id":"209","app":"pos","account":"figureapi","name":"Figure Commerce"}}}



### Get Account Auth Token [POST /account/authorize]


+ Request (application/json)

  + Attributes
      + account (string, required) - Account Name
      + ticket (string, required) - Customer Authentication Token
  
    + Body

            {"ticket":"0b1dXYb0feda78d3dbHB873597dcd684b6ebmd9","account":"figureapi"}

+ Response 200 (application/json)

    + Body

            {"token":"26334fBH9487d1cbb5n2e99bc4jyafe451P5cb","account":{"id":"209","name":"Figure API Demo","account":"figureapi","created":"2018-02-13 09:15:56"}}

## Group Addresses
Resources related to Addresses.


## Addresses [/addresses]


### Create Address [POST /pos/addresses]


+ Request (application/json)

  + Attributes
      + address (string, required) - Street Address
      + address_2 (string, optional) - Unit Number
      + city (string, required) - City
      + customer_id (number, required) - Customer Id
      + first_name (string, required) - Receipient First Name
      + last_name (string, required) - Recipient Last Name
      + phone (string, optional) - Recipient Phone Number
      + state (string, required) - State
      + title (string, optional) - Address Title
      + zip (string, required) - Zip Code
  
    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"first_name":"Ian","last_name":"Tucker","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","email":"example@commercebyfigure.com","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42"}

+ Response 200 (application/json)

    + Body

            {"id":"3989","hash":"a187902adebd6b1aab810511fabcf475e4f5c8e2","created":"2018-03-05 22:03:28","last_update":"2018-04-20 20:48:32","title":"","first_name":"Ian","last_name":"Tucker","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","email":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","zip_ext":"3302","country":"US","lat":"38.29401000","long":"-122.28348000","residential":"1","verified":"1","customer_id":"42","default":"1","public":"0"}



### Delete Address [DELETE /pos/addresses/{id}]

+ Parameters
  + id: ` `(number, required) - Address Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Get Address [GET /pos/addresses/{id}]

+ Parameters
  + id: ` `(number, required) - Address Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"3989","hash":"a187902adebd6b1aab810511fabcf475e4f5c8e2","created":"2018-03-05 22:03:28","last_update":"2018-04-20 20:48:32","title":"","first_name":"Ian","last_name":"Tucker","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","email":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","zip_ext":"3302","country":"US","lat":"38.29401000","long":"-122.28348000","residential":"1","verified":"1","customer_id":"42","default":"1","public":"0"}



### Get Addresses By Customer [GET /pos/addresses/customer/{customer_id}]

+ Parameters
  + customer_id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"3989":{"id":"3989","hash":"a187902adebd6b1aab810511fabcf475e4f5c8e2","created":"2018-03-05 22:03:28","last_update":"2018-04-20 20:48:32","title":"","first_name":"Ian","last_name":"Tucker","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","email":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","zip_ext":"3302","country":"US","lat":"38.29401000","long":"-122.28348000","residential":"1","verified":"1","customer_id":"42","default":"1","public":"0"}}



### Get All Addresses [GET /pos/addresses]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"3989":{"id":"3989","hash":"a187902adebd6b1aab810511fabcf475e4f5c8e2","created":"2018-03-05 22:03:28","last_update":"2018-04-20 20:48:32","title":"","first_name":"Ian","last_name":"Tucker","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","email":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","zip_ext":"3302","country":"US","lat":"38.29401000","long":"-122.28348000","residential":"1","verified":"1","customer_id":"42","default":"1","public":"0"}}



### Get Default Customer Address [GET /pos/addresses/customer/{customer_id}/default]

+ Parameters
  + customer_id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"3989","hash":"a187902adebd6b1aab810511fabcf475e4f5c8e2","created":"2018-03-05 22:03:28","last_update":"2018-04-20 20:48:32","title":"","first_name":"Ian","last_name":"Tucker","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","email":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","zip_ext":"3302","country":"US","lat":"38.29401000","long":"-122.28348000","residential":"1","verified":"1","customer_id":"42","default":"1","public":"0"}



### Set Default Customer Address [PUT /pos/addresses/customer/{customer_id}/default/{id}]

+ Parameters
  + customer_id: ` `(number, required) - Customer Id
  + id: ` `(number, required) - Address Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Update Address [PUT /pos/addresses/{id}]

+ Parameters
  + id: ` `(number, required) - Address Id


+ Request (application/json)

  + Attributes
      + address (string, optional) - Street Address
      + address_2 (string, optional) - Unit Number
      + city (string, optional) - City
      + company (string, optional) - Company Name
      + first_name (string, optional) - First Name
      + last_name (string, optional) - Last Name
      + phone (string, optional) - Phone Number
      + state (string, optional) - State
      + title (string, optional) - Address Title
      + zip (string, optional) - Zip Code
  
    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"address": "523 Brown St", "city": "Napa", "state": "CA"}

+ Response 200 (application/json)

    + Body

            {"id":"3989","hash":"a187902adebd6b1aab810511fabcf475e4f5c8e2","created":"2018-03-05 22:03:28","last_update":"2018-04-20 20:48:32","title":"","first_name":"Ian","last_name":"Tucker","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","email":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","zip_ext":"3302","country":"US","lat":"38.29401000","long":"-122.28348000","residential":"1","verified":"1","customer_id":"42","default":"1","public":"0"}

## Group Appointments
Resources related to Appointments.


## Appointments [/appointments]


### Create Appointment [POST /pos/appointments]


+ Request (application/json)

  + Attributes
      + customer_id (number, required) - Customer Id
      + status (string, optional) - Appointment Status
      + timestamp (string, required) - Appointment Time
  
    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"customer_id":1,"timestamp":"2020-07-31 11:00:00","status":"Requested","page_source":"Visit","created_by":"Customer","ip_address":"5.42.254.123","first_name":"John","last_name":"Doe","email":"john.doe@gmail.com","mobile_phone":"7075551234","alternate_date":"01/10/2021","preferred_time":"Morning","appointment_type":"Winery Tour & Tasting","size":"2","guests":"John DoernJane Doe","customer_comments":"I understand the tasting is unavailable to us (as members awaiting allocation), and I hope the Monday appointment is available. Thanks in advance!","name":"Jon Doe","customer_first_name":"Jon","cancellation_reason":"","customer_last_name":"Doe","customer_phone":"7075551234","customer_email":"john.doe@gmail.com","hour":"10:00 AM","endtime":"11:30 AM","host":"","room":"Foyer Lounge","reason":"Waiting List","category":"Consumer Conversion","notes":"Very kind, read the rules and requested a monday morning. Offered the 10am time slot."}

+ Response 200 (application/json)

    + Body

            "35"



### Delete Appointment [DELETE /pos/appointments/{id}]

+ Parameters
  + id: ` `(number, required) - Appointment Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Get All Appointments After Date [GET /pos/appointments/after/{start}]

+ Parameters
  + start: ` `(string, required) - Appointment Date


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            [{"id":35,"customer_id":1,"timestamp":"2020-07-31 11:00:00","status":"Requested","page_source":"Visit","created_by":"Customer","ip_address":"5.42.254.123","first_name":"John","last_name":"Doe","email":"john.doe@gmail.com","mobile_phone":"7075551234","alternate_date":"01/10/2021","preferred_time":"Morning","appointment_type":"Winery Tour & Tasting","size":"2","guests":"John DoernJane Doe","customer_comments":"I understand the tasting is unavailable to us (as members awaiting allocation), and I hope the Monday appointment is available. Thanks in advance!","name":"Jon Doe","customer_first_name":"Jon","cancellation_reason":"","customer_last_name":"Doe","customer_phone":"7075551234","customer_email":"john.doe@gmail.com","hour":"10:00 AM","endtime":"11:30 AM","host":"","room":"Foyer Lounge","reason":"Waiting List","category":"Consumer Conversion","notes":"Very kind, read the rules and requested a monday morning. Offered the 10am time slot."}]



### Get All Appointments Before Date [GET /pos/appointments/before/{end}]

+ Parameters
  + end: ` `(string, required) - Appointment Date


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            [{"id":35,"customer_id":1,"timestamp":"2020-07-31 11:00:00","status":"Requested","page_source":"Visit","created_by":"Customer","ip_address":"5.42.254.123","first_name":"John","last_name":"Doe","email":"john.doe@gmail.com","mobile_phone":"7075551234","alternate_date":"01/10/2021","preferred_time":"Morning","appointment_type":"Winery Tour & Tasting","size":"2","guests":"John DoernJane Doe","customer_comments":"I understand the tasting is unavailable to us (as members awaiting allocation), and I hope the Monday appointment is available. Thanks in advance!","name":"Jon Doe","customer_first_name":"Jon","cancellation_reason":"","customer_last_name":"Doe","customer_phone":"7075551234","customer_email":"john.doe@gmail.com","hour":"10:00 AM","endtime":"11:30 AM","host":"","room":"Foyer Lounge","reason":"Waiting List","category":"Consumer Conversion","notes":"Very kind, read the rules and requested a monday morning. Offered the 10am time slot."}]



### Get All Appointments in Date Range [GET /pos/appointments/{start}/{end}]

+ Parameters
  + end: ` `(string, required) - Appointments End Date
  + start: ` `(string, required) - Appointments Start Date


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            [{"id":35,"customer_id":1,"timestamp":"2020-07-31 11:00:00","status":"Requested","page_source":"Visit","created_by":"Customer","ip_address":"5.42.254.123","first_name":"John","last_name":"Doe","email":"john.doe@gmail.com","mobile_phone":"7075551234","alternate_date":"01/10/2021","preferred_time":"Morning","appointment_type":"Winery Tour & Tasting","size":"2","guests":"John DoernJane Doe","customer_comments":"I understand the tasting is unavailable to us (as members awaiting allocation), and I hope the Monday appointment is available. Thanks in advance!","name":"Jon Doe","customer_first_name":"Jon","cancellation_reason":"","customer_last_name":"Doe","customer_phone":"7075551234","customer_email":"john.doe@gmail.com","hour":"10:00 AM","endtime":"11:30 AM","host":"","room":"Foyer Lounge","reason":"Waiting List","category":"Consumer Conversion","notes":"Very kind, read the rules and requested a monday morning. Offered the 10am time slot."}]



### Get Appointment [GET /pos/appointments/{id}]

+ Parameters
  + id: ` `(number, required) - Appointment Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":35,"customer_id":1,"timestamp":"2020-07-31 11:00:00","status":"Requested","page_source":"Visit","created_by":"Customer","ip_address":"5.42.254.123","first_name":"John","last_name":"Doe","email":"john.doe@gmail.com","mobile_phone":"7075551234","alternate_date":"01/10/2021","preferred_time":"Morning","appointment_type":"Winery Tour & Tasting","size":"2","guests":"John DoernJane Doe","customer_comments":"I understand the tasting is unavailable to us (as members awaiting allocation), and I hope the Monday appointment is available. Thanks in advance!","name":"Jon Doe","customer_first_name":"Jon","cancellation_reason":"","customer_last_name":"Doe","customer_phone":"7075551234","customer_email":"john.doe@gmail.com","hour":"10:00 AM","endtime":"11:30 AM","host":"","room":"Foyer Lounge","reason":"Waiting List","category":"Consumer Conversion","notes":"Very kind, read the rules and requested a monday morning. Offered the 10am time slot."}



### Update Appointment [PUT /pos/appointments/{id}]

+ Parameters
  + id: ` `(number, required) - Appointment Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"timestamp":"2020-07-31 13:30:00","status":"Confirmed"}

+ Response 200 (application/json)

    + Body

            true

## Group Cart
Resources related to Cart.


## Cart [/cart]


### Create Admin Cart Session [POST /pos/cart/session/admin/{customer_id}]

+ Parameters
  + customer_id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            Admin-42-XXXXXXX



### Get Stripe Terminal Connection Token [POST /pos/stripe/connection_token]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            "pst_test_rgnG70WzKEyvdegWNup0nqJ"

## Group ClubMembers
Resources related to ClubMembers.


## ClubMembers [/club-members]


### Cancel Membership [DELETE /pos/club-members/{id}]

+ Parameters
  + id: ` `(number, required) - Membership Id


+ Request (application/json)

  + Attributes
      + cancellation_reason (string, optional) - Reason for Cancellation
  
    + Headers

            X-Auth-Token: XXXXXXXXXXXX
    + Body

            {"cancellation_reason": "Cost too High"}

+ Response 200 (application/json)

    + Body

            true



### Create New Membership [POST /pos/club-members]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXXXXX
    + Body

            { "customer_id": 42, "club_id": 5,  "address_id": 27,  "payment_id": 3142}

+ Response 200 (application/json)

    + Body

            14



### Get Membership Details [GET /pos/club-members/{id}]

+ Parameters
  + id: ` `(number, required) - Membership Id


+ Request (application/json)

    + Headers

             X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"14","club_id":"3","customer_id":"1","payment_id":"113","address_id":"1","method_id":null,"cart_session":"","exclude_until":null,"status":"","authorization":"","amount":"0","total":"0","error":"","created":"2020-07-27 12:59:20","last_update":"2020-07-27 13:00:16","canceled":"0","cancelation_date":"0000-00-00 00:00:00","cancellation_reason":"","sales_person": "Tyson"}



### Update Membership [PUT /pos/club-members/{id}]

+ Parameters
  + id: ` `(number, required) - Membership Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXXXXX
    + Body

            {"address_id":4093,"payment_id":6}

+ Response 200 (application/json)

    + Body

            true

## Group Clubs
Resources related to Clubs.


## Clubs [/clubs]


### Get All Clubs [GET /pos/clubs]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"5":{"id":"5","name":"Founders Club","description":"Red. Only. Need we say more? You won't regret this commitment. Look for a case of our finest red selections to arrive at your door in January, May and November. In order to insure that each shipment will showcase seasonally appropriate wines we've asked our in-house chef, Michel Brassica to work with our winemaker to hand-select wines that will pair perfectly with the dishes of the season. Who knows, he might even through in some of his award-winning recipes...","discount":"20","free_shipping":"0","club_confirmation_message":"We greatly appreciate your commitment to support the consumption of legendary red wines. \r\nSalud!\r\n\r\n- The Acme Vineyards Crew","club_info_1":"<ul><li>Shipments 3 times a year:&nbsp;Jan, May &amp; Nov<\/li><li>Private tastings by appointment<\/li><li>Exclusive Invites to Special Events<\/li><li>First access to limited release white wines<\/li><\/ul>","club_info_2":"$300 per shipment<br \/>(tax and shipping not included)","club_info_3":"","sort":"1"},"4":{"id":"4","name":"Acme Refreshing Whites Club","description":"If you've ever had a chance to visit the Napa Valley then you know firsthand that there are fantastic whites being produced right alongside the legendary reds \u2014 they are just in slightly shorter supply.  So don't just settle for whatever your local Trader Joe's has on hand  -- sign on to receive a selection of fantastic white wines available only through our exclusive <em>Refreshing Whites Club<\/em> and we'll be sure that three times a year 12 outstanding bottles will arrive at your doorstep.","discount":"15","free_shipping":"1","club_confirmation_message":"We're so glad you've come to your senses and joined the club!\r\n\r\n- The Acme Vineyards Crew","club_info_1":"<ul><li>Shipments 3 times a year:&nbsp;Jan, May &amp; Nov<\/li><li>Private tastings by appointment<\/li><li>Exclusive Invites to Special Events<\/li><li>First access to limited release white wines<\/li><\/ul>","club_info_2":"$200 - $230 per shipment<br \/>(tax and shipping not included)","club_info_3":"","sort":"2"}}

## Group Config
Resources related to Config.


## Config [/config]


### Get Account Config [GET /pos/config]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"admin_email":"betatester@750group.com","amedeo_password":"","amedeo_username":"","aws_ses_verified":"TRUE","cm_api_key":"af737b8ee89e4714079ea2c717cd2ec5fc0b6a81c776d7ae","cm_client_id":"1a6a176082cf2a6290f265e227af9cc4","cm_list_id":"e82af5924ae170d3fc17a94faa3050f4","company_address":"523 Brown Street","company_address_2":"Suite 750","company_city":"Napa","company_email":"hello@acmevineyards.com","company_name":"Acme Vineyards","company_phone":"707-947-3007","company_state":"CA","COMPANY_WEB_DESCRIPTION":"DEMO - Enjoy the wines of Acme Vineyards.","COMPANY_WEB_KEYWORDS":"acme vineyards, acme, vineyards, wines, napa","company_zip":"94559","customer_credit":"","customer_quote_1":"\"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.\"<br><strong>\u2014T. Wilder<\/strong>","customer_quote_2":"\"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod&nbsp;reprehenderit&nbsp;&nbsp;tempor.\"<br><strong>\u2014T. Caly<\/strong>","customer_quote_3":"\"incididunt ut labore et dolore magna aliqua. Ut enim ad minim&nbsp;reprehenderit&nbsp;veniam adipisicing.\"<br><strong>\u2014I. Tucker<\/strong>","customer_quote_4":"\"Excepteur sint occaecat cupidatat non proident, sunt in culpa&nbsp;reprehenderit qui officia deserunt.\"<br><strong>\u2014L. Trefethen<\/strong>","default_group":"23","enable_advanced":"TRUE","enable_advanced_zones":"TRUE","enable_allocation_button":"FALSE","enable_allocation_button_welcomeoffer":"FALSE","enable_allocation_sales":"FALSE","enable_amedeo":"FALSE","enable_club":"TRUE","enable_cm_history":"TRUE","enable_customer_quotes":"FALSE","enable_ddc":"FALSE","enable_eaglerock":"FALSE","enable_faq":"TRUE","enable_map":"TRUE","enable_microsite":"TRUE","enable_processing":"FALSE","enable_promo":"TRUE","enable_reservations":"FALSE","enable_shipcompliant":"FALSE","enable_shipcompliant_fulfillment":"FALSE","enable_shipcompliant_tax_rates":"FALSE","enable_social_media":"TRUE","enable_special_promotions":"FALSE","enable_twitter_feed":"FALSE","enable_vinfillment":"FALSE","enforce_allocation":"FALSE","extra_info_1":"extra 1","extra_info_2":"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.","extra_info_3":"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.","extra_info_4":"Summer shipping now in progress","extra_info_5":"","extra_info_6":"","free_shipping_subtotal_min":"","goal_month":"7500.00","goal_year":"100000","google_analytics_id":"UA-1234","host":"","image_email_header":"http:\/\/s3.amazonaws.com\/efcheckout\/acmev\/email_header-70971.gif","image_logo":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/logo-47249.png","invite_email":"","list_customer_channels":"Web\r\nInternal\r\nTasting Room","list_customer_sources":"Friend\/Colleague\r\nRestaurant\/Shop\r\nPress\/Website\r\nEvent\/Tasting\r\nHotel\/Other Winery\r\nOther\r\nBob\u2019s Buds","list_customer_types":"Waiting List\r\nAllocated","list_sales_agents":"Ian\r\nTyson\r\nTori\r\nLoren","member_since":"June 2011","other_url":"","payment_descriptor":"Acme Vineyards","reason":"","referral_credit":"","reservation_email_confirmation":"","reservation_email_decline":"","reservation_location":"","reservation_type":"","sales_image_1":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/settings\/sales_image_1-92359.jpeg","sales_image_2":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/settings\/sales_image_2-78556.jpeg","sales_image_3":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/settings\/sales_image_3-38639.jpeg","ship_compliant_password":"","ship_compliant_shipment_status":"","ship_compliant_username":"","social_facebook":"750group","social_flickr":"","social_googleplus":"750group","social_instagram":"750group","social_linkedin":"","social_pinterest":"750group","social_tumblr":"750group","social_twitter":"750group","social_youtube":"","website_url":"http:\/\/acmev.securecheckout.com"}

## Group Customers
Resources related to Customers.


## Customers [/customers]


### Create Customer [POST /pos/customers]


+ Request (application/json)

  + Attributes
      + email (string, required) - Customer Email Address
      + first_name (string, required) - Customer First Name
      + last_name (string, required) - Customer Last Name
      + password (string, required) - Customer Password
  
    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"first_name": "John", "last_name": "Doe", "email": "example@commercebyfigure.com", "password": "XXXXXXXXX"}

+ Response 200 (application/json)

    + Body

            {"id":"42","first_name":"John","last_name":"Doe","email":"example@commercebyfigure.com","status":"Active","state":"","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-18 16:14:00","created":"2018-04-18 16:14:00","signup_email_last_sent":"2018-04-18 16:14:00"}



### Delete Customer [DELETE /pos/customers/{id}]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Filter Customers [POST /pos/customers/filter]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            [{"type": "range", "key": "created", "from": 1522540800, "to": 1524097161},{"type": "term", "key": "customer_source", "value": "Web"}]

+ Response 200 (application/json)

    + Body

            {"42":{"id":"42","first_name":"John","last_name":"Doe","email":"example@commercebyfigure.com","status":"Active","state":"CA","customer_source": "Web","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-18 16:35:48","created":"2018-04-18 16:14:00","signup_email_last_sent":"2018-04-18 16:14:00"}}



### Get Customer [GET /pos/customers/{id}]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"42","first_name":"John","last_name":"Doe","email":"example@commercebyfigure.com","status":"Active","state":"CA","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-18 16:14:00","created":"2018-04-18 16:14:00","signup_email_last_sent":"2018-04-18 16:14:00"}



### Get Customer Canceled Clubs [GET /pos/customers/{id}/clubs/canceled]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            []



### Get Customer Clubs [GET /pos/customers/{id}/clubs]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            []



### Get Customer Order History [GET /pos/customers/{id}/orders]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"361":{"id":"361","datestamp":"2015-04-07 01:59:22","status":"","subtotal":"683.00","tax":"54.64","shipping":"0.00","discount":"0.00","credits":"0.00","refund":"0.00","total":"737.64","customer_id":"42","address":"523 Brown St","address_2":"","birthday":"1986-04-3","city":"Napa","company":"","credit_id":"118","credit_number":"8431","credit_type":"American Express","customer_credits":"0.00","email":"ian@750group.com","first_name":"Ian","gift_message":"","instructions":"","item_count":"13","last_name":"Tucker","order_id":"361","order_type":"Web","payment_status":"Paid","phone":"707-501-7491","requested_ship_date":"2015-03-16","shipping_address":"523 Brown St","shipping_address_2":"","shipping_city":"Napa","shipping_company":"","shipping_first_name":"Ian","shipping_id":"4083","shipping_last_name":"Tucker","shipping_method":"3","shipping_method_carrier":"DDC","shipping_method_code":"FXO","shipping_method_name":"Expedited Shipping","shipping_phone":"707-501-7491","shipping_state":"CA","shipping_title":"ShippingAddress","shipping_zip":"94558","ship_status":"Not Shipped","state":"CA","tax_rate":"8","transaction_id":"387","zip":"94559","products":[{"id":"361","sku":"12312312312","name":"2014 Rosu00e9","type":"","price":"65","discount":"0","quantity":"7","status":"","description":"2014 Rosu00e9 Napa Valley","image":"//s3.amazonaws.com/efcheckout/acmev/product/12312312312-1725.jpg","stock_status":"","shipped":"0","created":"2015-04-07 01:59:22"},{"id":"361","sku":"AV10NVRB","name":"2009 Red Blend","type":"","price":"38","discount":"0","quantity":"6","status":"","description":"2009 Red Blend Napa Valley","image":"//s3.amazonaws.com/efcheckout/acmev/product/AV10NVRB-3972.jpg","stock_status":"","shipped":"0","created":"2015-04-07 01:59:22"}]},"359":{"id":"359","datestamp":"2015-04-07 01:12:57","status":"","subtotal":"412.00","tax":"32.96","shipping":"0.00","discount":"0.00","credits":"0.00","refund":"0.00","total":"444.96","customer_id":"42","address":"523 Brown St","address_2":"","birthday":"1986-04-3","city":"Napa","company":"","credit_id":"118","credit_number":"8431","credit_type":"American Express","customer_credits":"0.00","email":"ian@750group.com","first_name":"Ian","gift_message":"","instructions":"","item_count":"8","last_name":"Tucker","order_id":"359","order_type":"Web","payment_status":"Paid","phone":"707-501-7491","requested_ship_date":"2015-03-16","shipping_address":"354357357","shipping_address_2":"","shipping_city":"Yountville","shipping_company":"","shipping_first_name":"Ian","shipping_id":"3913","shipping_last_name":"Tucker","shipping_method":"3","shipping_method_carrier":"DDC","shipping_method_code":"FXO","shipping_method_name":"Expedited Shipping","shipping_phone":"7075017491","shipping_state":"CA","shipping_title":"ShippingAddress","shipping_zip":"94599","ship_status":"Not Shipped","state":"CA","tax_rate":"8","transaction_id":"385","zip":"94559","products":[{"id":"359","sku":"12312312312","name":"2014 Rosu00e9","type":"","price":"65","discount":"0","quantity":"4","status":"","description":"2014 Rosu00e9 Napa Valley","image":"//s3.amazonaws.com/efcheckout/acmev/product/12312312312-1725.jpg","stock_status":"","shipped":"0","created":"2015-04-07 01:12:57"},{"id":"359","sku":"AV10NVRB","name":"2009 Red Blend","type":"","price":"38","discount":"0","quantity":"4","status":"","description":"2009 Red Blend Napa Valley","image":"//s3.amazonaws.com/efcheckout/acmev/product/AV10NVRB-3972.jpg","stock_status":"","shipped":"0","created":"2015-04-07 01:12:57"}]},"342":{"id":"342","datestamp":"2015-04-07 00:51:10","status":"","subtotal":"780.00","tax":"62.40","shipping":"0.00","discount":"0.00","credits":"0.00","refund":"0.00","total":"842.40","customer_id":"42","address":"523 Brown St","address_2":"","birthday":"1986-04-3","city":"Napa","company":"","credit_id":"118","credit_number":"1111","credit_type":"Visa","email":"ian@750group.com","first_name":"Ian","gift_message":"","instructions":"","item_count":"12","last_name":"Tucker","order_id":"342","order_type":"Web","payment_status":"Paid","phone":"707-501-7491","requested_ship_date":"2015-03-16","shipping_address":"523 Brown St","shipping_address_2":"","shipping_city":"Napa","shipping_company":"","shipping_first_name":"Ian","shipping_id":"4083","shipping_last_name":"Tucker","shipping_method":"3","shipping_method_carrier":"DDC","shipping_method_code":"FXO","shipping_method_name":"Expedited Shipping","shipping_phone":"707-501-7491","shipping_state":"CA","shipping_title":"ShippingAddress","shipping_zip":"94558","ship_status":"Not Shipped","state":"CA","tax_rate":"8","transaction_id":"369","zip":"94559","products":[{"id":"342","sku":"12312312312","name":"2014 Rosu00e9","type":"","price":"65","discount":"0","quantity":"12","status":"","description":"2014 Rosu00e9 Napa Valley","image":"//s3.amazonaws.com/efcheckout/acmev/product/12312312312-1725.jpg","stock_status":"","shipped":"0","created":"2015-04-07 00:51:10"}]},"328":{"id":"328","datestamp":"2015-03-13 03:40:01","status":"","subtotal":"915.00","tax":"62.22","shipping":"0.00","discount":"137.25","credits":"240.00","refund":"0.00","total":"599.97","customer_id":"42","address":"523 Brown St","address_2":"","address_id":"3913","birthday":"1986-04-3","city":"Napa","company":"","credit_number":"8431","credit_type":"American Express","customer_credits":"240.00","discount_customer":"0.15","email":"ian@750group.com","first_name":"Ian","item_count":"12","last_name":"Tucker","order_id":"328","order_type":"Admin","payment_id":"118","payment_status":"Paid","phone":"707-501-7491","sales_agent":"Ian Tucker","sale_credit":"...","shipping_address":"354357357","shipping_address_2":"","shipping_city":"Yountville","shipping_company":"","shipping_first_name":"Ian","shipping_last_name":"Tucker","shipping_method":"12","shipping_method_carrier":"UPS","shipping_method_code":"UPSGND","shipping_method_name":"Intergalactic Shipping","shipping_phone":"7075017491","shipping_state":"CA","shipping_zip":"94599","ship_status":"Shipped","state":"CA","tax_rate":"8","transaction_id":"353","zip":"94559","products":[{"id":"328","sku":"12312312312","name":"2011 Cabernet Sauvignon","type":"","price":"65","discount":"0","quantity":"3","status":"","description":"2011 Cabernet Sauvignon Napa Valley","image":"//s3.amazonaws.com/efcheckout/acmev/product/12312312312-1725.jpg","stock_status":"","shipped":"0","created":"2015-03-13 03:40:01"}]}}



### Get Customer Transactions [GET /pos/customers/{id}/transactions]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            []



### Search Customers [GET /pos/customers/search/{query}]

+ Parameters
  + query: ` `(string, required) - Customer Search Query String


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"42":{"id":"42","first_name":"John","last_name":"Doe","email":"example@commercebyfigure.com","status":"Active","state":"CA","customer_source": "Web","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-18 16:35:48","created":"2018-04-18 16:14:00","signup_email_last_sent":"2018-04-18 16:14:00"}}



### Update Customer [PUT /pos/customers/{id}]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"state": "CA"}

+ Response 200 (application/json)

    + Body

            {"id":"42","first_name":"John","last_name":"Doe","email":"example@commercebyfigure.com","status":"Active","state":"CA","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-18 16:35:48","created":"2018-04-18 16:14:00","signup_email_last_sent":"2018-04-18 16:14:00"}



### Update Customer Password [PUT /pos/customers/{id}/password]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"password": "XXXXXXXXX"}

+ Response 200 (application/json)

    + Body

            true

## CustomersGroups [/customers/groups]


### Add Customer To Group [PUT /pos/customers/{id}/groups/{group_id}]

+ Parameters
  + group_id: ` `(number, required) - Group Id
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Clear All Customer Groups [DELETE /pos/customers/{id}/groups]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Get Customer Groups [GET /pos/customers/{id}/groups]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"1":{"id":"1","name":"Mailing List","discount":"0","free_shipping":"0","checkout_cart_min":"0"},"2":{"id":"2","name":"Customer Group I","discount":"0","free_shipping":"0","checkout_cart_min":"0"}}



### Remove Customer From Group [DELETE /pos/customers/{id}/groups/{group_id}]

+ Parameters
  + group_id: ` `(number, required) - Group Id
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true

## CustomersNotes [/customers/notes]


### Add Customer Note [POST /pos/customers/{id}/notes]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"message": "John would like to ship FedEx if possible.", "user_id": 1, "user_name": "Ian Tucker", "type": "Admin"}

+ Response 200 (application/json)

    + Body

            true



### Get Customer Notes [GET /pos/customers/{id}/notes/{type}]

+ Parameters
  + id: ` `(number, required) - Customer Id
  + type: ` `(string, required) - Note Type


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            [{"id":"4","customer_id":"42","created":"2018-04-19 09:14:09","type":"Admin","user_id":"1","user_name":"Ian Tucker","message":"John is a Great Customer!"},{"id":"1","customer_id":"42","created":"2018-04-19 09:09:51","type":"Admin","user_id":"1","user_name":"Ian Tucker","message":"John would like to ship FedEx if possible."}]

## CustomersTags [/customers/tags]


### Add Tag to Customer [PUT /pos/customers/{id}/tags/{tag}]

+ Parameters
  + id: ` `(number, required) - Customer Id
  + tag: ` `(string, required) - Tag


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Clear All Tags from Customer [DELETE /pos/customers/{id}/tags]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Get Customer Tags [GET /pos/customers/{id}/tags]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            ["VIPCustomer","FedExOnly"]



### Remove Tag from Customer [DELETE /pos/customers/{id}/tags/{tag}]

+ Parameters
  + id: ` `(number, required) - Customer Id
  + tag: ` `(string, required) - Tag


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true

## Group Groups
Resources related to Groups.


## Groups [/groups]


### Create Group [POST /pos/groups]


+ Request (application/json)

  + Attributes
      + description (string, optional) - Description of Group
      + name (string, required) - Group Title
      + status (string, optional) - Group Status
  
    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"name": "Customer Group I", "status": "Active", "description": "New Customer Group."}

+ Response 200 (application/json)

    + Body

            {"id":"2","name":"Customer Group I","status":"Active","sort":"0","allocation_message":"","allocation_start":"0000-00-00 00:00:00","checkout_cart_min":"0","allocation_end":"0000-00-00 00:00:00","discount":"0","free_shipping":"0","description":"New Customer Group."}



### Delete Group [DELETE /pos/groups/{id}]

+ Parameters
  + id: ` `(number, required) - Group Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Get All Groups [GET /pos/groups]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"2":{"id":"2","name":"Customer Group I","status":"Active","sort":"0","allocation_message":"","allocation_start":"0000-00-00 00:00:00","checkout_cart_min":"0","allocation_end":"0000-00-00 00:00:00","discount":"0","free_shipping":"0","description":"Updated Customer Group"},"1":{"id":"1","name":"Mailing List","status":"Active","sort":"0","allocation_message":"","allocation_start":"0000-00-00 00:00:00","checkout_cart_min":"0","allocation_end":"0000-00-00 00:00:00","discount":"0","free_shipping":"0"}}



### Get Customers In Group [GET /pos/groups/{id}/customers]

+ Parameters
  + id: ` `(number, required) - Group Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"42":{"id":"42","first_name":"John","last_name":"Doe","email":"example@commercebyfigure.com","status":"Active","state":"CA","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-18 16:35:48","created":"2018-04-18 16:14:00","signup_email_last_sent":"2018-04-18 16:14:00"}}



### Get Group [GET /pos/groups/{id}]

+ Parameters
  + id: ` `(number, required) - Group Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"2","name":"Customer Group I","status":"Active","sort":"0","allocation_message":"","allocation_start":"0000-00-00 00:00:00","checkout_cart_min":"0","allocation_end":"0000-00-00 00:00:00","discount":"0","free_shipping":"0","description":"New Customer Group."}



### Update Group [PUT /pos/groups/{id}]

+ Parameters
  + id: ` `(number, required) - Group Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"description": "Updated Customer Group"}

+ Response 200 (application/json)

    + Body

            {"id":"2","name":"Customer Group I","status":"Active","sort":"0","allocation_message":"","allocation_start":"0000-00-00 00:00:00","checkout_cart_min":"0","allocation_end":"0000-00-00 00:00:00","discount":"0","free_shipping":"0","description":"Updated Customer Group"}

## Group InventoryLocations
Resources related to InventoryLocations.


## InventoryLocations [/inventory-locations]


### Get All Inventory Locations [GET /pos/inventory-locations]


+ Request (application/json)

    + Headers

            
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"1":{"id":"1","name":"Website","description":"Website"},"2":{"id":"2","name":"Tasting Room","description":"Tasting Room"},"3":{"id":"3","name":"Library","description":"Library"}}

## Group Orders
Resources related to Orders.


## Orders [/orders]


### Cancel Order [DELETE /pos/orders/{id}]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Filter Orders [POST /pos/orders/filter]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            [{"type": "range", "key": "datestamp", "from": 1522540800, "to": 1524097161},{"type": "term", "key": "payment_status", "value": "Paid"},{"type": "terms", "key": "ship_status", "value": ["Shipped", "Picked Up", "Completed"]}]

+ Response 200 (application/json)

    + Body

            {"id":"42","datestamp":"2018-03-23 16:24:15","last_update":"2018-03-23 16:24:15","status":"","subtotal":"45.00","tax":"3.15","shipping":"20.00","discount":"9.00","credits":"0.00","refund":"0.00","total":"59.15","customer_id":"1","address":"","address_2":"","address_id":"3979","birthday":"1982-11-1","city":"","company":"","credit_id":"19","credit_number":"4242","credit_type":"Visa","customer_credits":"0.00","discount_customer":"0.2","email":"example@commercebyfigure.com","first_name":"John","gift_message":"","instructions":"","item_count":"1","last_name":"Doe","order_id":"42","order_type":"Web","payment_status":"Paid","phone":"707-287-6262","salutation":"Mr.","shipping_address":"770 3rd St E","shipping_address_2":"","shipping_city":"Sonoma","shipping_company":"","shipping_first_name":"John","shipping_id":"3979","shipping_last_name":"Doe","shipping_method":"11","shipping_method_carrier":"FedEx","shipping_method_code":"FDXGND","shipping_method_name":"Ground","shipping_phone":"707-287-6262","shipping_state":"CA","shipping_title":"Shipping Address","shipping_zip":"95476","ship_status":"Shipped","state":"","tax_rate":"8.75","transaction_id":"36","zip":"","products":[{"id":"42","sku":"H","name":"2017 Pinot Meunier","type":"","bottle_size":"750mL","retail_price":"0.00","discount":"0.00","discount_type":"","price":"45","quantity":"1","status":"","description":"2017 Pinot Meunier ","image":"","stock_status":"","shipped":"0","created":"2018-03-23 16:24:18"}]}



### Get Order [GET /pos/orders/{id}]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"42","datestamp":"2018-03-23 16:24:15","last_update":"2018-03-23 16:24:15","status":"","subtotal":"45.00","tax":"3.15","shipping":"20.00","discount":"9.00","credits":"0.00","refund":"0.00","total":"59.15","customer_id":"1","address":"","address_2":"","address_id":"3979","birthday":"1982-11-1","city":"","company":"","credit_id":"19","credit_number":"4242","credit_type":"Visa","customer_credits":"0.00","discount_customer":"0.2","email":"example@commercebyfigure.com","first_name":"John","gift_message":"","instructions":"","item_count":"1","last_name":"Doe","order_id":"42","order_type":"Web","payment_status":"Paid","phone":"707-287-6262","salutation":"Mr.","shipping_address":"770 3rd St E","shipping_address_2":"","shipping_city":"Sonoma","shipping_company":"","shipping_first_name":"John","shipping_id":"3979","shipping_last_name":"Doe","shipping_method":"11","shipping_method_carrier":"FedEx","shipping_method_code":"FDXGND","shipping_method_name":"Ground","shipping_phone":"707-287-6262","shipping_state":"CA","shipping_title":"Shipping Address","shipping_zip":"95476","ship_status":"Not Shipped","state":"","tax_rate":"8.75","transaction_id":"36","zip":"","products":[{"id":"42","sku":"H","name":"2017 Pinot Meunier","type":"","bottle_size":"750mL","retail_price":"0.00","discount":"0.00","discount_type":"","price":"45","quantity":"1","status":"","description":"2017 Pinot Meunier ","image":"","stock_status":"","shipped":"0","created":"2018-03-23 16:24:18"}]}



### Get Recent Orders [GET /pos/orders?limit={limit}&page={page}]

+ Parameters
  + limit: ` `(number, required) - Number of Orders to return
  + page: ` `(number, required) - Page number to return.


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            [{"id":"42","datestamp":"2018-03-23 16:24:15","last_update":"2018-03-23 16:24:15","status":"","subtotal":"45.00","tax":"3.15","shipping":"20.00","discount":"9.00","credits":"0.00","refund":"0.00","total":"59.15","customer_id":"1","address":"","address_2":"","address_id":"3979","birthday":"1982-11-1","city":"","company":"","credit_id":"19","credit_number":"4242","credit_type":"Visa","customer_credits":"0.00","discount_customer":"0.2","email":"example@commercebyfigure.com","first_name":"John","gift_message":"","instructions":"","item_count":"1","last_name":"Doe","order_id":"42","order_type":"Web","payment_status":"Paid","phone":"707-287-6262","salutation":"Mr.","shipping_address":"770 3rd St E","shipping_address_2":"","shipping_city":"Sonoma","shipping_company":"","shipping_first_name":"John","shipping_id":"3979","shipping_last_name":"Doe","shipping_method":"11","shipping_method_carrier":"FedEx","shipping_method_code":"FDXGND","shipping_method_name":"Ground","shipping_phone":"707-287-6262","shipping_state":"CA","shipping_title":"Shipping Address","shipping_zip":"95476","ship_status":"Shipped","state":"","tax_rate":"8.75","transaction_id":"36","zip":"","products":[{"id":"42","sku":"H","name":"2017 Pinot Meunier","type":"","bottle_size":"750mL","retail_price":"0.00","discount":"0.00","discount_type":"","price":"45","quantity":"1","status":"","description":"2017 Pinot Meunier ","image":"","stock_status":"","shipped":"0","created":"2018-03-23 16:24:18"}]}]



### Search Orders [GET /pos/orders/search/{query}]

+ Parameters
  + query: ` `(string, required) - Order Search Query String


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"42","datestamp":"2018-03-23 16:24:15","last_update":"2018-03-23 16:24:15","status":"","subtotal":"45.00","tax":"3.15","shipping":"20.00","discount":"9.00","credits":"0.00","refund":"0.00","total":"59.15","customer_id":"1","address":"","address_2":"","address_id":"3979","birthday":"1982-11-1","city":"","company":"","credit_id":"19","credit_number":"4242","credit_type":"Visa","customer_credits":"0.00","discount_customer":"0.2","email":"example@commercebyfigure.com","first_name":"John","gift_message":"","instructions":"","item_count":"1","last_name":"Doe","order_id":"42","order_type":"Web","payment_status":"Paid","phone":"707-287-6262","salutation":"Mr.","shipping_address":"770 3rd St E","shipping_address_2":"","shipping_city":"Sonoma","shipping_company":"","shipping_first_name":"John","shipping_id":"3979","shipping_last_name":"Doe","shipping_method":"11","shipping_method_carrier":"FedEx","shipping_method_code":"FDXGND","shipping_method_name":"Ground","shipping_phone":"707-287-6262","shipping_state":"CA","shipping_title":"Shipping Address","shipping_zip":"95476","ship_status":"Shipped","state":"","tax_rate":"8.75","transaction_id":"36","zip":"","products":[{"id":"42","sku":"H","name":"2017 Pinot Meunier","type":"","bottle_size":"750mL","retail_price":"0.00","discount":"0.00","discount_type":"","price":"45","quantity":"1","status":"","description":"2017 Pinot Meunier ","image":"","stock_status":"","shipped":"0","created":"2018-03-23 16:24:18"}]}



### Update Order [PUT /pos/orders/{id}]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"ship_status": "Picked Up", "actual_ship_date": "2020-04-04 10:00:00", "shipping_first_name": "Tyson", "shipping_last_name": "Caly", "shipping_address": "523 Brown St.", "shipping_address_2": "Ste 2", "shipping_city": "Napa", "shipping_state": "CA", "shipping_zip": "94559"}

+ Response 200 (application/json)

    + Body

            true

## Orders Notes [/orders/notes]


### Add Note [POST /pos/orders/{id}/notes]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"message": "John would like to ship FedEx if possible.", "user_id": 1, "user_name": "Ian Tucker", "type": "Admin"}

+ Response 200 (application/json)

    + Body

            true



### Get Notes [GET /pos/orders/{id}/notes/{type}]

+ Parameters
  + id: ` `(number, required) - Order Id
  + type: ` `(string, required) - Note Type


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            [{"id":"4","customer_id":"42","created":"2018-04-19 09:14:09","type":"Admin","user_id":"1","user_name":"Ian Tucker","message":"John is a Great Customer!"},{"id":"1","customer_id":"42","created":"2018-04-19 09:09:51","type":"Admin","user_id":"1","user_name":"Ian Tucker","message":"John would like to ship FedEx if possible."}]

## Orders Packages [/orders/packages]


### Add Packages [PUT /pos/orders/{id}/packages]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            [{}]

+ Response 200 (application/json)

    + Body

            []



### Clear Packages [DELETE /pos/orders/{id}/packages]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Get Packages [GET /pos/orders/{id}/packages]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            []



### Remove Package [DELETE /pos/orders/{id}/packages/{tracking_number}]

+ Parameters
  + id: ` `(number, required) - Order Id
  + tracking_number: ` `(string, required) - Package Tracking Number


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true

## Orders Tags [/orders/tags]


### Add Tag [PUT /pos/orders/{id}/tags/{tag}]

+ Parameters
  + id: ` `(number, required) - Order Id
  + tag: ` `(string, required) - Tag


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Clear Tags [DELETE /pos/orders/{id}/tags]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Get Tags [GET /pos/orders/{id}/tags]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            ["RushDevliery","FedExOnly"]



### Remove Tag [DELETE /pos/orders/{id}/tags/{tag}]

+ Parameters
  + id: ` `(number, required) - Order Id
  + tag: ` `(string, required) - Tag


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true

## Group Payment
Resources related to Payment.


## Payment [/payment]


### Create Payment Method [POST /pos/payment]


+ Request (application/json)

  + Attributes
      + address (string, required) - Street Address
      + address_2 (string, optional) - Unit Number
      + card_token (string, required) - Stripe Credit Card Token
      + card_type (string, required) - Credit Card Brand ie: Visa, American Express, etc
      + city (string, required) - City
      + credit_expires_month (string, required) - Expires Month ie: 06
      + credit_expires_year (string, required) - Expires Year ie: 2016
      + credit_number (string, required) - Last 4 Digits of Credit Card Number
      + customer_id (number, required) - Customer Id
      + first_name (string, required) - Customer First Name
      + last_name (string, required) - Customer Last Name
      + phone (string, optional) - Customer Phone Number
      + state (string, required) - State
      + zip (string, required) - Zip Code
  
    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"first_name":"Ian","last_name":"Tucker","card_token": "XXXXXXXXX", "credit_type":"Visa","credit_number":"1111","credit_expires_month":"6","credit_expires_year":"2026","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42"}

+ Response 200 (application/json)

    + Body

            {"id":"22","fingerprint":"","credit_type":"Visa","credit_number":"1111","credit_expires_month":"6","credit_expires_year":"2026","profile_id":"0","payment_profile_id":"0","first_name":"Ian","birthday":"","phone":"","company":"","last_name":"Tucker","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42","default":"1","created":"2018-03-05 22:03:01","last_update":"0000-00-00 00:00:00"}



### Delete Payment Method [DELETE /pos/payment/{id}]

+ Parameters
  + id: ` `(number, required) - Payment Method Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Get All Payment Menthods [GET /pos/payment]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"22":{"id":"22","fingerprint":"","credit_type":"Visa","credit_number":"1111","credit_expires_month":"6","credit_expires_year":"2026","profile_id":"0","payment_profile_id":"0","first_name":"Ian","birthday":"","phone":"","company":"","last_name":"Tucker","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42","default":"1","created":"2018-03-05 22:03:01","last_update":"0000-00-00 00:00:00"}}



### Get Default Customer Payment Method [GET /pos/payment/customer/{customer_id}/default]

+ Parameters
  + customer_id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"22","fingerprint":"","credit_type":"Visa","credit_number":"1111","credit_expires_month":"6","credit_expires_year":"2026","profile_id":"0","payment_profile_id":"0","first_name":"Ian","birthday":"","phone":"","company":"","last_name":"Tucker","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42","default":"1","created":"2018-03-05 22:03:01","last_update":"0000-00-00 00:00:00"}



### Get Payment Method [GET /pos/payment/{id}]

+ Parameters
  + id: ` `(number, required) - Payment Method Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"22","fingerprint":"","credit_type":"Visa","credit_number":"1111","credit_expires_month":"6","credit_expires_year":"2026","profile_id":"0","payment_profile_id":"0","first_name":"Ian","birthday":"","phone":"","company":"","last_name":"Tucker","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42","default":"1","created":"2018-03-05 22:03:01","last_update":"0000-00-00 00:00:00"}



### Get Payment Methods By Customer [GET /pos/payment/customer/{customer_id}]

+ Parameters
  + customer_id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"22":{"id":"22","fingerprint":"","credit_type":"Visa","credit_number":"1111","credit_expires_month":"6","credit_expires_year":"2026","profile_id":"0","payment_profile_id":"0","first_name":"Ian","birthday":"","phone":"","company":"","last_name":"Tucker","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42","default":"1","created":"2018-03-05 22:03:01","last_update":"0000-00-00 00:00:00"}}



### Set Default Customer Payment Method [PUT /pos/payment/customer/{customer_id}/default/{id}]

+ Parameters
  + customer_id: ` `(number, required) - Customer Id
  + id: ` `(number, required) - Payment Method Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Update Payment Method [PUT /pos/payment/{id}]

+ Parameters
  + id: ` `(number, required) - Payment Method Id


+ Request (application/json)

  + Attributes
      + address (string, optional) - Street Address
      + address_2 (string, optional) - Unit Number
      + city (string, optional) - City
      + company (string, optional) - Company Name
      + first_name (string, optional) - First Name
      + last_name (string, optional) - Last Name
      + phone (string, optional) - Phone Number
      + state (string, optional) - State
      + title (string, optional) - Address Title
      + zip (string, optional) - Zip Code
  
    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"address": "523 Brown St", "city": "Napa", "state": "CA"}

+ Response 200 (application/json)

    + Body

            {"id":"22","fingerprint":"","credit_type":"Visa","credit_number":"1111","credit_expires_month":"6","credit_expires_year":"2026","profile_id":"0","payment_profile_id":"0","first_name":"Ian","birthday":"","phone":"","company":"","last_name":"Tucker","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42","default":"1","created":"2018-03-05 22:03:01","last_update":"0000-00-00 00:00:00"}

## Group Products
Resources related to Products.


## Products [/products]


### Get List of Available Products [GET /pos/products]


+ Request (application/json)

    + Headers

            X-Session-Id: XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"3":{"id":"3","name":"2009 Cabernet Sauvignon","sku":"AV09NVCS1","price":"65.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years.","status":"Active","accolades_01":"","additional_description":""Unreal. A Napa Valley Cab that is truly worthy drinking."<br>�Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"750mL","case_production":"60","country":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"//s3.amazonaws.com/efcheckout/acmev/product/AV09NVCS1-1204.jpg","image_alt":"//s3.amazonaws.com/efcheckout/acmev/product-alt/AV10NVCS-4211.jpg","max_purchase_quantity":"9","new_product":"Yes","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"0.00","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","starting_quantity":"99","status_availability":"Active","subtitle":"Napa Valley","sub_region":"","ta":".06","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":{"2":{"id":"2","name":"Past Vintages","sort":"1"}},"quantity":"0"},"5":{"id":"5","name":"2009 Red Blend","sku":"AV10NVRB","price":"38.00","description":"Our Chardonnay was produced from vines located on the south side of our Katie's Hill vineyard. The microclimate of this gentle knoll is just right for producing a white wine that offers rich and supple fruit on the palate while retaining enough acid to keep it light and crisp. The use of restrained oak in the cellar further adds to the depth of this wine, making it one of our personal favorites for starting a meal, or pairing with fish.","status":"Active","accolades_01":"","additional_description":""Another wonderfully crisp drinkable Chardonnay from Acme."<br>�Wine Reviewer","aging":"3 months in second year Oak","alcohol":"13.5","appellation":"Rutherford Napa Valley","blend":"98% Chardonnay, 2% Viognier","bottle_count":"1","bottle_size":"750mL","case_production":"235","cost":"0.00","country":"","custom01":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"September 2, 2010","image":"//s3.amazonaws.com/efcheckout/acmev/product/AV10NVRB-3972.jpg","image_alt":"//s3.amazonaws.com/efcheckout/acmev/product-alt/AV10NVCH-2610.jpg","label":"","max_purchase_quantity":"","not_availible_message":"","oak":"Francois Freres French Oak","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"October 2011","residual_sugar":"","retail_price":"40.00","shipping_offer_min":"","short_description":"Estate-grown Chardonnay from Katie's Hill Vineyard","soil":"","starting_quantity":"999","status_availability":"","subtitle":"Napa Valley","sub_region":"","ta":"","tasting_notes_pdf":"","upc":"","varietal":"CHARDONNAY","vineyard":"Katie's Hill Vineyard","vintage":"2009","winemaker":"Owen Benson","wine_type":"WHITE","categories":{"2":{"id":"2","name":"Past Vintages","sort":"2"}},"quantity":"50"},"7":{"id":"7","name":"2010 Reserve Cabernet Sauvignon","sku":"AV10NVRCS","price":"75.00","description":"","status":"Archived","accolades_01":"","additional_description":""This is one of my all-time favorite $100 bottles of wine."<br>�Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"750mL","case_production":"46","cost":"60.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"//s3.amazonaws.com/efcheckout/acmev/product/AV10NVRCS-3914.jpg","image_alt":"//s3.amazonaws.com/efcheckout/acmev/products/alt/AV10NVRCS-1165.jpg","label":"","max_purchase_quantity":"","min_purchase_quantity":"3","new_product":"Yes","not_availible_message":"Sorry this item is not available for purchase.","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"80.00","shipping_offer_min":"","short_description":"","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":{"1":{"id":"1","name":"New Releases","sort":"1"}},"quantity":"4000"},"14":{"id":"14","name":"2014 Ros�","sku":"12312312312","price":"45","description":"<em>Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon.</em> <br><br>Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  <strong>Drink now or age for up to 50 years.</strong>","status":"Active","accolades_01":"","additional_description":""Unreal. A Napa Valley Cab that is truly worthy drinking."<br>�Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"","case_production":"60","cost":"0.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"//s3.amazonaws.com/efcheckout/acmev/product/12312312312-1725.jpg","image_alt":"//s3.amazonaws.com/efcheckout/acmev/product-alt/AV10NVCS-4211.jpg","label":"","max_purchase_quantity":"36","min_purchase_quantity":"","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"65.00","review":"Hello","reviewer":"Acme","score":"99","shipping_included":"0","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","stainless":"","starting_quantity":"99","status_availability":"Active","subtitle":"Napa Valley","sub_region":"","ta":".06","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":{"1":{"id":"1","name":"New Releases","sort":"2"}},"quantity":"12000"},"17":{"id":"17","name":"2012 Cabernet Sauvignon","sku":"454646878","price":"65.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years.","status":"Archived","accolades_01":"","additional_description":"<strong>"Unreal. A Napa Valley Cab that is truly worthy drinking."</strong><br>�Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"3","bottle_size":"","case_production":"60","country":"","custom01":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"","image_alt":"","image_alt_3":"","max_purchase_quantity":"","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"0.00","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","starting_quantity":"99","status_availability":"Active","subtitle":"Napa Valley","sub_region":"","ta":".06","upc":"","varietal":"","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"467"},"20":{"id":"20","name":"2011 Cabernet Sauvignon","sku":"555","price":"65.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years.","status":"Archived","accolades_01":"","additional_description":""Unreal. A Napa Valley Cab that is truly worthy drinking."<br>�Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"","bottle_size":"","case_production":"60","country":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"","image_alt":"","image_alt_3":"","max_purchase_quantity":"","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"0.00","review":"Hellooo","reviewer":"Acme","score":"98","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley","sub_region":"","ta":".06","upc":"","varietal":"","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"840"},"22":{"id":"22","name":"2012 Cabernet Sauvignon","sku":"asdfasdfasdf","price":"65.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years.","status":"Archived","accolades_01":"","additional_description":""Unreal. A Napa Valley Cab that is truly worthy drinking."<br>�Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"","case_production":"60","country":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"","image_alt":"","image_alt_3":"","max_purchase_quantity":"36","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"0.00","review":"Hello","reviewer":"Acme","score":"99","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","starting_quantity":"99","status_availability":"Active","subtitle":"Napa Valley","sub_region":"","ta":".06","upc":"","varietal":"","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":{"1":{"id":"1","name":"New Releases","sort":"3"}},"quantity":"0"},"24":{"id":"24","name":"2011 Reserve Cabernet Sauvignon","sku":"322345345","price":"100.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years. rnrnLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.","status":"Archived","accolades_01":"","additional_description":""This is one of my all-time favorite $100 bottles of wine."<br>�Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"","bottle_size":"","case_production":"46","country":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"","image_alt":"","image_alt_3":"","max_purchase_quantity":"","new_product":"Yes","not_availible_message":"Next release coming Spring 2015","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"125.00","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"304"},"31":{"id":"31","name":"2014 Reserve Cabernet Sauvignon","sku":"123123213123123213","price":"80.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years. rnrnLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.","status":"Active","accolades_01":"","additional_description":""This is one of my all-time favorite $100 bottles of wine."<br>�Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"5","bottle_size":"750mL","case_production":"46","country":"","custom01":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"","image_alt":"","image_alt_3":"","max_purchase_quantity":"","new_product":"Yes","not_availible_message":"Sorry this item is not available for purchase.","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"100.00","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"603"},"32":{"id":"32","name":"2012 Reserve Cabernet Sauvignon","sku":"212nvcs","price":"80.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years. rnrnLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.","status":"Active","accolades_01":"","additional_description":""This is one of my all-time favorite $100 bottles of wine."<br>�Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"3","bottle_size":"750mL","case_production":"46","country":"","custom01":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"","image_alt":"","image_alt_3":"","max_purchase_quantity":"","new_product":"Yes","not_availible_message":"Sorry this item is not available for purchase.","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"100.00","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"653"},"33":{"id":"33","name":"2011 Reserve Cabernet Sauvignon","sku":"AV11NVRCS","price":"80.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years. rnrnLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.","status":"Active","accolades_01":"","additional_description":""This is one of my all-time favorite $100 bottles of wine."<br>�Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"3","bottle_size":"750mL","case_production":"46","country":"","custom01":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"","image_alt":"","image_alt_3":"","max_purchase_quantity":"","new_product":"Yes","not_availible_message":"Sorry this item is not available for purchase.","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"100.00","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"499"},"34":{"id":"34","name":"2011 Reserve Cabernet Sauvignon","sku":"sdfadfasdfds","price":"75.00","description":"","status":"Active","accolades_01":"","additional_description":""This is one of my all-time favorite $100 bottles of wine."<br>�Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"750mL","case_production":"46","cost":"60.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"","image_alt":"","image_alt_3":"","label":"","max_purchase_quantity":"","min_purchase_quantity":"3","new_product":"Yes","not_availible_message":"Sorry this item is not available for purchase.","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"80.00","shipping_offer_min":"","short_description":"","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"600"},"35":{"id":"35","name":"2011 Reserve Cabernet Sauvignon","sku":"asdfasdf323","price":"75.00","description":"","status":"Active","accolades_01":"","additional_description":""This is one of my all-time favorite $100 bottles of wine."<br>�Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"750mL","case_production":"46","cost":"60.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"","image_alt":"","image_alt_3":"","label":"","max_purchase_quantity":"","min_purchase_quantity":"3","new_product":"Yes","not_availible_message":"Sorry this item is not available for purchase.","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"80.00","shipping_offer_min":"","short_description":"","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"12000"},"36":{"id":"36","name":"2012 Reserve Cabernet Sauvignon","sku":"asdfasdfasdfas","price":"75.00","description":"","status":"Active","accolades_01":"","additional_description":""This is one of my all-time favorite $100 bottles of wine."<br>�Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"750mL","case_production":"46","cost":"60.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"","image_alt":"","image_alt_3":"","label":"","max_purchase_quantity":"","min_purchase_quantity":"3","new_product":"Yes","not_availible_message":"Sorry this item is not available for purchase.","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"80.00","shipping_offer_min":"","short_description":"","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"9000"},"38":{"id":"38","name":"2015 Ros�","sku":"yyuhjij","price":"65","description":"<em>Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon.</em> <br><br>Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  <strong>Drink now or age for up to 50 years.</strong>","status":"Active","accolades_01":"","additional_description":""Unreal. A Napa Valley Cab that is truly worthy drinking."<br>�Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"","case_production":"60","cost":"0.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"","image_alt":"","image_alt_3":"","label":"","max_purchase_quantity":"36","min_purchase_quantity":"","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"0.00","review":"Hello","reviewer":"Acme","score":"99","shipping_offer_min":"","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","starting_quantity":"99","status_availability":"Active","subtitle":"Napa Valley","sub_region":"","ta":".06","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":[],"quantity":"842"}}



### Search Products [GET /pos/products/search/{query}]

+ Parameters
  + query: ` `(string, required) - Product Search Query String


+ Request (application/json)

    + Headers

            X-Session-Id: XXXXXXXX 
            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"3":{"id":"3","name":"2009 Cabernet Sauvignon","sku":"AV09NVCS1","price":"65.00","description":"Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon. Aged in a mix of the finest new and used oak for 18 months, then bottled and cellared for an additional 24 months deep in the heart of our century-old cave system, this wine is redolent of black fruit with a hint of spice box, tar, and graphite.  Drink now or age for up to 50 years.","status":"Active","accolades_01":"","additional_description":""Unreal. A Napa Valley Cab that is truly worthy drinking."<br>�Wine Review Online","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"750mL","case_production":"60","country":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2007","image":"//s3.amazonaws.com/efcheckout/acmev/product/AV09NVCS1-1204.jpg","image_alt":"//s3.amazonaws.com/efcheckout/acmev/product-alt/AV10NVCS-4211.jpg","max_purchase_quantity":"9","new_product":"Yes","not_availible_message":"","oak":"40% new, 60% 2 year old","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 1, 2012","residual_sugar":"","retail_price":"0.00","short_description":"Destined to be a classic example of an outstanding vintage from the legendary Napa Valley.","soil":"","starting_quantity":"99","status_availability":"Active","subtitle":"Napa Valley","sub_region":"","ta":".06","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Hawk","vintage":"2007","winemaker":"Pepe LePepe","wine_type":"RED","categories":{"2":{"id":"2","name":"Past Vintages","sort":"1"}},"quantity":"0"},"5":{"id":"5","name":"2009 Red Blend","sku":"AV10NVRB","price":"38.00","description":"Our Chardonnay was produced from vines located on the south side of our Katie's Hill vineyard. The microclimate of this gentle knoll is just right for producing a white wine that offers rich and supple fruit on the palate while retaining enough acid to keep it light and crisp. The use of restrained oak in the cellar further adds to the depth of this wine, making it one of our personal favorites for starting a meal, or pairing with fish.","status":"Active","accolades_01":"","additional_description":""Another wonderfully crisp drinkable Chardonnay from Acme."<br>�Wine Reviewer","aging":"3 months in second year Oak","alcohol":"13.5","appellation":"Rutherford Napa Valley","blend":"98% Chardonnay, 2% Viognier","bottle_count":"1","bottle_size":"750mL","case_production":"235","cost":"0.00","country":"","custom01":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"September 2, 2010","image":"//s3.amazonaws.com/efcheckout/acmev/product/AV10NVRB-3972.jpg","image_alt":"//s3.amazonaws.com/efcheckout/acmev/product-alt/AV10NVCH-2610.jpg","label":"","max_purchase_quantity":"","not_availible_message":"","oak":"Francois Freres French Oak","ph":"","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"October 2011","residual_sugar":"","retail_price":"40.00","shipping_offer_min":"","short_description":"Estate-grown Chardonnay from Katie's Hill Vineyard","soil":"","starting_quantity":"999","status_availability":"","subtitle":"Napa Valley","sub_region":"","ta":"","tasting_notes_pdf":"","upc":"","varietal":"CHARDONNAY","vineyard":"Katie's Hill Vineyard","vintage":"2009","winemaker":"Owen Benson","wine_type":"WHITE","categories":{"2":{"id":"2","name":"Past Vintages","sort":"2"}},"quantity":"50"},"7":{"id":"7","name":"2010 Reserve Cabernet Sauvignon","sku":"AV10NVRCS","price":"75.00","description":"","status":"Archived","accolades_01":"","additional_description":""This is one of my all-time favorite $100 bottles of wine."<br>�Wine Reviewer","aging":"18 Months in French Barrels","alcohol":"16.5","appellation":"Oakville, Napa Valley","blend":"100% Cabernet Sauvignon","bottle_count":"1","bottle_size":"750mL","case_production":"46","cost":"60.00","country":"","custom01":"","custom02":"","custom03":"","farming_method":"","featured_product":"Yes","free_shipping":"","harvest_date":"October 19, 2010","image":"//s3.amazonaws.com/efcheckout/acmev/product/AV10NVRCS-3914.jpg","image_alt":"//s3.amazonaws.com/efcheckout/acmev/products/alt/AV10NVRCS-1165.jpg","label":"","max_purchase_quantity":"","min_purchase_quantity":"3","new_product":"Yes","not_availible_message":"Sorry this item is not available for purchase.","no_comparison":"","oak":"40% new, 60% 2 year old","ph":"","product_category":"Wine","qb_account":"","qb_class":"","qb_sku":"","region":"","release_date":"September 2012","residual_sugar":"","retail_price":"80.00","shipping_offer_min":"","short_description":"","soil":"","starting_quantity":"99","status_availability":"","subtitle":"Napa Valley, Small Lot Reserve","sub_region":"","ta":"","tasting_notes_pdf":"","tax_exempt":"0","upc":"","varietal":"CABERNET_BLENDS","vineyard":"Black Sparrow","vintage":"2010","winemaker":"Pepe LePepe","wine_type":"RED","categories":{"1":{"id":"1","name":"New Releases","sort":"1"}},"quantity":"4000"},"14":{"id":"14","name":"2014 Ros�","sku":"12312312312","price":"45","description":"<em>Hundred year old vines have worked their roots deep, deep into the hillside soils of the storied Black Hawk Vineyard in Oakville to produce small amounts of the sultry, supple fruit used in this 100% Cabernet Sauvignon.</em> <br><br>Aged in 
[...]
