FORMAT: 1A
HOST: https://api.securecheckout.com/v1/

# Figure Point of Sales API

This API can be used for creating point of sales applications powered by the Figure platform.

## Headers

There are 2 HTTP Headers used by the point of sales API:

+ Content-Type
+ X-Auth-Token

The *Content-Type* header is a standard header and should be set to application/json for all requests.

The *X-Auth-Token* header is used to authenticate with the API server. The Auth Token is obtained by logging into the application using the *Authenticate User* and *Get Account Auth Token* API methods.

## Authentication

There are 2 endpoints used for authenticating with the API:

+ <a href='#reference/account/account/authenticate-user'>Authenticate User</a>
+ <a href='#reference/account/account/get-account-auth-token'>Get Account Auth Token</a>

#### Authenticate User

The <a href='#reference/account/account/authenticate-user'>*Authenticate User*</a> method allows authentication provided a valid administrator username and password. Along with basic profile information this method returns a *Ticket* which can be used with the method <a href='#reference/account/account/get-account-auth-token'>*Get Account Auth Token*</a> to obtain an *Auth Token* which can be passed in the *X-Auth-Token* Header to allow API access for an account. If you already know what account you want to access you can do this in a single step by supplying the account you wish to access as well using the optional *account* field.

#### Get Account Auth Token

The <a href='#reference/account/account/get-account-auth-token'>*Get Account Auth Token*</a> method takes an Authentication Ticket supplied by the <a href='#reference/account/account/authenticate-user'>*Authenticate User*</a> method and an account you wish to access and returns an Auth Token that can be passed in the *X-Auth-Token* header to allow access to an account via the API.

## Cart API

Populating customer carts and placing orders is facilitated by the <a href='https://securecheckout.docs.apiary.io'>*Figure Commerce API*</a>. The *Cart API* can be accessed using the same *X-Auth-Token* for the account obtained from the <a href='#reference/account/account/get-account-auth-token'>*Get Account Auth Token*</a>. The *X-Session-Id* for a customer can be obtained by passing the customer id to the *Create Admin Cart Session* method. This allows a cart to be created for a customer without knowledge of the customer password.


## Group Account
Resources related to Account.


## Account [/authenticate]


### Authenticate User [POST /account/authenticate]


+ Request (application/json)

  + Attributes
      + account (string, optional) - Account Name
      + password (string, required) - Customer Password
      + username (string, required) - Customer Username
  
    + Body

            {"username":"example@figurecommerce.com","password":"XXXXXX"}

+ Response 200 (application/json)

    + Body

            {"ticket":"0b1dXYb0feda78d3dbHB873597dcd684b6ebmd9","profile":{"id":"42","email":"example@figurecommerce.com","first_name":"Ian","last_name":"Tucker","created":"2013-09-03 09:02:07"},"accounts":{"209":{"id":"209","app":"pos","account":"figureapi","name":"Figure Commerce"}}}



### Get Account Auth Token [POST /account/authorize]


+ Request (application/json)

  + Attributes
      + account (string, required) - Account Name
      + ticket (string, required) - Customer Authentication Token
  
    + Body

            {"ticket":"0b1dXYb0feda78d3dbHB873597dcd684b6ebmd9","account":"figureapi"}

+ Response 200 (application/json)

    + Body

            {"token":"26334fBH9487d1cbb5n2e99bc4jyafe451P5cb","account":{"id":"209","name":"Figure API Demo","account":"figureapi","created":"2018-02-13 09:15:56"}}

## Group Addresses
Resources related to Addresses.


## Addresses [/addresses]


### Create Address [POST /pos/addresses]


+ Request (application/json)

  + Attributes
      + address (string, required) - Street Address
      + address_2 (string, optional) - Unit Number
      + city (string, required) - City
      + customer_id (number, required) - Customer Id
      + first_name (string, required) - Receipient First Name
      + last_name (string, required) - Recipient Last Name
      + phone (string, optional) - Recipient Phone Number
      + state (string, required) - State
      + title (string, optional) - Address Title
      + zip (string, required) - Zip Code
  
    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"first_name":"Ian","last_name":"Tucker","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","email":"example@commercebyfigure.com","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42"}

+ Response 200 (application/json)

    + Body

            {"id":"3989","hash":"a187902adebd6b1aab810511fabcf475e4f5c8e2","created":"2018-03-05 22:03:28","last_update":"2018-04-20 20:48:32","title":"","first_name":"Ian","last_name":"Tucker","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","email":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","zip_ext":"3302","country":"US","lat":"38.29401000","long":"-122.28348000","residential":"1","verified":"1","customer_id":"42","default":"1","public":"0"}



### Delete Address [DELETE /pos/addresses/{id}]

+ Parameters
  + id: ` `(number, required) - Address Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Get Address [GET /pos/addresses/{id}]

+ Parameters
  + id: ` `(number, required) - Address Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"3989","hash":"a187902adebd6b1aab810511fabcf475e4f5c8e2","created":"2018-03-05 22:03:28","last_update":"2018-04-20 20:48:32","title":"","first_name":"Ian","last_name":"Tucker","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","email":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","zip_ext":"3302","country":"US","lat":"38.29401000","long":"-122.28348000","residential":"1","verified":"1","customer_id":"42","default":"1","public":"0"}



### Get Addresses By Customer [GET /pos/addresses/customer/{customer_id}]

+ Parameters
  + customer_id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"3989":{"id":"3989","hash":"a187902adebd6b1aab810511fabcf475e4f5c8e2","created":"2018-03-05 22:03:28","last_update":"2018-04-20 20:48:32","title":"","first_name":"Ian","last_name":"Tucker","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","email":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","zip_ext":"3302","country":"US","lat":"38.29401000","long":"-122.28348000","residential":"1","verified":"1","customer_id":"42","default":"1","public":"0"}}



### Get All Addresses [GET /pos/addresses]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"3989":{"id":"3989","hash":"a187902adebd6b1aab810511fabcf475e4f5c8e2","created":"2018-03-05 22:03:28","last_update":"2018-04-20 20:48:32","title":"","first_name":"Ian","last_name":"Tucker","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","email":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","zip_ext":"3302","country":"US","lat":"38.29401000","long":"-122.28348000","residential":"1","verified":"1","customer_id":"42","default":"1","public":"0"}}



### Get Default Customer Address [GET /pos/addresses/customer/{customer_id}/default]

+ Parameters
  + customer_id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"3989","hash":"a187902adebd6b1aab810511fabcf475e4f5c8e2","created":"2018-03-05 22:03:28","last_update":"2018-04-20 20:48:32","title":"","first_name":"Ian","last_name":"Tucker","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","email":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","zip_ext":"3302","country":"US","lat":"38.29401000","long":"-122.28348000","residential":"1","verified":"1","customer_id":"42","default":"1","public":"0"}



### Set Default Customer Address [PUT /pos/addresses/customer/{customer_id}/default/{id}]

+ Parameters
  + customer_id: ` `(number, required) - Customer Id
  + id: ` `(number, required) - Address Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Update Address [PUT /pos/addresses/{id}]

+ Parameters
  + id: ` `(number, required) - Address Id


+ Request (application/json)

  + Attributes
      + address (string, optional) - Street Address
      + address_2 (string, optional) - Unit Number
      + city (string, optional) - City
      + company (string, optional) - Company Name
      + first_name (string, optional) - First Name
      + last_name (string, optional) - Last Name
      + phone (string, optional) - Phone Number
      + state (string, optional) - State
      + title (string, optional) - Address Title
      + zip (string, optional) - Zip Code
  
    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"address": "523 Brown St", "city": "Napa", "state": "CA"}

+ Response 200 (application/json)

    + Body

            {"id":"3989","hash":"a187902adebd6b1aab810511fabcf475e4f5c8e2","created":"2018-03-05 22:03:28","last_update":"2018-04-20 20:48:32","title":"","first_name":"Ian","last_name":"Tucker","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","email":"","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","zip_ext":"3302","country":"US","lat":"38.29401000","long":"-122.28348000","residential":"1","verified":"1","customer_id":"42","default":"1","public":"0"}

## Group Cart
Resources related to Cart.


## Cart [/cart]


### Create Admin Cart Session [POST /pos/cart/session/admin/{customer_id}]

+ Parameters
  + customer_id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            Admin-42-XXXXXXX

## Group Config
Resources related to Config.


## Config [/config]


### Get Account Config [GET /pos/config]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"admin_email":"betatester@750group.com","amedeo_password":"","amedeo_username":"","aws_ses_verified":"TRUE","cm_api_key":"af737b8ee89e4714079ea2c717cd2ec5fc0b6a81c776d7ae","cm_client_id":"1a6a176082cf2a6290f265e227af9cc4","cm_list_id":"e82af5924ae170d3fc17a94faa3050f4","company_address":"523 Brown Street","company_address_2":"Suite 750","company_city":"Napa","company_email":"hello@acmevineyards.com","company_name":"Acme Vineyards","company_phone":"707-947-3007","company_state":"CA","COMPANY_WEB_DESCRIPTION":"DEMO - Enjoy the wines of Acme Vineyards.","COMPANY_WEB_KEYWORDS":"acme vineyards, acme, vineyards, wines, napa","company_zip":"94559","customer_credit":"","customer_quote_1":"\"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.\"<br><strong>\u2014T. Wilder<\/strong>","customer_quote_2":"\"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod&nbsp;reprehenderit&nbsp;&nbsp;tempor.\"<br><strong>\u2014T. Caly<\/strong>","customer_quote_3":"\"incididunt ut labore et dolore magna aliqua. Ut enim ad minim&nbsp;reprehenderit&nbsp;veniam adipisicing.\"<br><strong>\u2014I. Tucker<\/strong>","customer_quote_4":"\"Excepteur sint occaecat cupidatat non proident, sunt in culpa&nbsp;reprehenderit qui officia deserunt.\"<br><strong>\u2014L. Trefethen<\/strong>","default_group":"23","enable_advanced":"TRUE","enable_advanced_zones":"TRUE","enable_allocation_button":"FALSE","enable_allocation_button_welcomeoffer":"FALSE","enable_allocation_sales":"FALSE","enable_amedeo":"FALSE","enable_club":"TRUE","enable_cm_history":"TRUE","enable_customer_quotes":"FALSE","enable_ddc":"FALSE","enable_eaglerock":"FALSE","enable_faq":"TRUE","enable_map":"TRUE","enable_microsite":"TRUE","enable_processing":"FALSE","enable_promo":"TRUE","enable_reservations":"FALSE","enable_shipcompliant":"FALSE","enable_shipcompliant_fulfillment":"FALSE","enable_shipcompliant_tax_rates":"FALSE","enable_social_media":"TRUE","enable_special_promotions":"FALSE","enable_twitter_feed":"FALSE","enable_vinfillment":"FALSE","enforce_allocation":"FALSE","extra_info_1":"extra 1","extra_info_2":"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.","extra_info_3":"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.","extra_info_4":"Summer shipping now in progress","extra_info_5":"","extra_info_6":"","free_shipping_subtotal_min":"","goal_month":"7500.00","goal_year":"100000","google_analytics_id":"UA-1234","host":"","image_email_header":"http:\/\/s3.amazonaws.com\/efcheckout\/acmev\/email_header-70971.gif","image_logo":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/logo-47249.png","invite_email":"","list_customer_channels":"Web\r\nInternal\r\nTasting Room","list_customer_sources":"Friend\/Colleague\r\nRestaurant\/Shop\r\nPress\/Website\r\nEvent\/Tasting\r\nHotel\/Other Winery\r\nOther\r\nBob\u2019s Buds","list_customer_types":"Waiting List\r\nAllocated","list_sales_agents":"Ian\r\nTyson\r\nTori\r\nLoren","member_since":"June 2011","other_url":"","payment_descriptor":"Acme Vineyards","reason":"","referral_credit":"","reservation_email_confirmation":"","reservation_email_decline":"","reservation_location":"","reservation_type":"","sales_image_1":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/settings\/sales_image_1-92359.jpeg","sales_image_2":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/settings\/sales_image_2-78556.jpeg","sales_image_3":"\/\/s3.amazonaws.com\/efcheckout\/acmev\/settings\/sales_image_3-38639.jpeg","ship_compliant_password":"","ship_compliant_shipment_status":"","ship_compliant_username":"","social_facebook":"750group","social_flickr":"","social_googleplus":"750group","social_instagram":"750group","social_linkedin":"","social_pinterest":"750group","social_tumblr":"750group","social_twitter":"750group","social_youtube":"","website_url":"http:\/\/acmev.securecheckout.com"}

## Group Customers
Resources related to Customers.


## Customers [/customers]


### Create Customer [POST /pos/customers]


+ Request (application/json)

  + Attributes
      + email (string, required) - Customer Email Address
      + first_name (string, required) - Customer First Name
      + last_name (string, required) - Customer Last Name
      + password (string, required) - Customer Password
  
    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"first_name": "John", "last_name": "Doe", "email": "example@commercebyfigure.com", "password": "XXXXXXXXX"}

+ Response 200 (application/json)

    + Body

            {"id":"42","first_name":"John","last_name":"Doe","email":"example@commercebyfigure.com","status":"Active","state":"","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-18 16:14:00","created":"2018-04-18 16:14:00","signup_email_last_sent":"2018-04-18 16:14:00"}



### Delete Customer [DELETE /pos/customers/{id}]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Filter Customers [POST /pos/customers/filter]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            [{"type": "range", "key": "created", "from": 1522540800, "to": 1524097161},{"type": "term", "key": "customer_source", "value": "Web"}]

+ Response 200 (application/json)

    + Body

            {"42":{"id":"42","first_name":"John","last_name":"Doe","email":"example@commercebyfigure.com","status":"Active","state":"CA","customer_source": "Web","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-18 16:35:48","created":"2018-04-18 16:14:00","signup_email_last_sent":"2018-04-18 16:14:00"}}



### Get Customer [GET /pos/customers/{id}]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"42","first_name":"John","last_name":"Doe","email":"example@commercebyfigure.com","status":"Active","state":"CA","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-18 16:14:00","created":"2018-04-18 16:14:00","signup_email_last_sent":"2018-04-18 16:14:00"}



### Get Customer Clubs [GET /pos/customers/{id}/clubs]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            []



### Get Customer Transactions [GET /pos/customers/{id}/transactions]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            []



### Search Customers [GET /pos/customers/search/{query}]

+ Parameters
  + query: ` `(string, required) - Customer Search Query String


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"42":{"id":"42","first_name":"John","last_name":"Doe","email":"example@commercebyfigure.com","status":"Active","state":"CA","customer_source": "Web","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-18 16:35:48","created":"2018-04-18 16:14:00","signup_email_last_sent":"2018-04-18 16:14:00"}}



### Update Customer [PUT /pos/customers/{id}]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"state": "CA"}

+ Response 200 (application/json)

    + Body

            {"id":"42","first_name":"John","last_name":"Doe","email":"example@commercebyfigure.com","status":"Active","state":"CA","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-18 16:35:48","created":"2018-04-18 16:14:00","signup_email_last_sent":"2018-04-18 16:14:00"}



### Update Customer Password [PUT /pos/customers/{id}/password]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"password": "XXXXXXXXX"}

+ Response 200 (application/json)

    + Body

            true

## CustomersGroups [/customers/groups]


### Add Customer To Group [PUT /pos/customers/{id}/groups/{group_id}]

+ Parameters
  + group_id: ` `(number, required) - Group Id
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Clear All Customer Groups [DELETE /pos/customers/{id}/groups]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Get Customer Groups [GET /pos/customers/{id}/groups]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"1":{"id":"1","name":"Mailing List","discount":"0","free_shipping":"0","checkout_cart_min":"0"},"2":{"id":"2","name":"Customer Group I","discount":"0","free_shipping":"0","checkout_cart_min":"0"}}



### Remove Customer From Group [DELETE /pos/customers/{id}/groups/{group_id}]

+ Parameters
  + group_id: ` `(number, required) - Group Id
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true

## CustomersNotes [/customers/notes]


### Add Customer Note [POST /pos/customers/{id}/notes]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"message": "John would like to ship FedEx if possible.", "user_id": 1, "user_name": "Ian Tucker", "type": "Admin"}

+ Response 200 (application/json)

    + Body

            true



### Get Customer Notes [GET /pos/customers/{id}/notes/{type}]

+ Parameters
  + id: ` `(number, required) - Customer Id
  + type: ` `(string, required) - Note Type


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            [{"id":"4","customer_id":"42","created":"2018-04-19 09:14:09","type":"Admin","user_id":"1","user_name":"Ian Tucker","message":"John is a Great Customer!"},{"id":"1","customer_id":"42","created":"2018-04-19 09:09:51","type":"Admin","user_id":"1","user_name":"Ian Tucker","message":"John would like to ship FedEx if possible."}]

## CustomersTags [/customers/tags]


### Add Tag to Customer [PUT /pos/customers/{id}/tags/{tag}]

+ Parameters
  + id: ` `(number, required) - Customer Id
  + tag: ` `(string, required) - Tag


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Clear All Tags from Customer [DELETE /pos/customers/{id}/tags]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Get Customer Tags [GET /pos/customers/{id}/tags]

+ Parameters
  + id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            ["VIPCustomer","FedExOnly"]



### Remove Tag from Customer [DELETE /pos/customers/{id}/tags/{tag}]

+ Parameters
  + id: ` `(number, required) - Customer Id
  + tag: ` `(string, required) - Tag


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true

## Group Groups
Resources related to Groups.


## Groups [/groups]


### Create Group [POST /pos/groups]


+ Request (application/json)

  + Attributes
      + description (string, optional) - Description of Group
      + name (string, required) - Group Title
      + status (string, optional) - Group Status
  
    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"name": "Customer Group I", "status": "Active", "description": "New Customer Group."}

+ Response 200 (application/json)

    + Body

            {"id":"2","name":"Customer Group I","status":"Active","sort":"0","allocation_message":"","allocation_start":"0000-00-00 00:00:00","checkout_cart_min":"0","allocation_end":"0000-00-00 00:00:00","discount":"0","free_shipping":"0","description":"New Customer Group."}



### Delete Group [DELETE /pos/groups/{id}]

+ Parameters
  + id: ` `(number, required) - Group Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Get All Groups [GET /pos/groups]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"2":{"id":"2","name":"Customer Group I","status":"Active","sort":"0","allocation_message":"","allocation_start":"0000-00-00 00:00:00","checkout_cart_min":"0","allocation_end":"0000-00-00 00:00:00","discount":"0","free_shipping":"0","description":"Updated Customer Group"},"1":{"id":"1","name":"Mailing List","status":"Active","sort":"0","allocation_message":"","allocation_start":"0000-00-00 00:00:00","checkout_cart_min":"0","allocation_end":"0000-00-00 00:00:00","discount":"0","free_shipping":"0"}}



### Get Customers In Group [GET /pos/groups/{id}/customers]

+ Parameters
  + id: ` `(number, required) - Group Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"42":{"id":"42","first_name":"John","last_name":"Doe","email":"example@commercebyfigure.com","status":"Active","state":"CA","order_count":"0","order_total":"0.00","last_order":"0000-00-00 00:00:00","last_order_total":"0.00","last_update":"2018-04-18 16:35:48","created":"2018-04-18 16:14:00","signup_email_last_sent":"2018-04-18 16:14:00"}}



### Get Group [GET /pos/groups/{id}]

+ Parameters
  + id: ` `(number, required) - Group Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"2","name":"Customer Group I","status":"Active","sort":"0","allocation_message":"","allocation_start":"0000-00-00 00:00:00","checkout_cart_min":"0","allocation_end":"0000-00-00 00:00:00","discount":"0","free_shipping":"0","description":"New Customer Group."}



### Update Group [PUT /pos/groups/{id}]

+ Parameters
  + id: ` `(number, required) - Group Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"description": "Updated Customer Group"}

+ Response 200 (application/json)

    + Body

            {"id":"2","name":"Customer Group I","status":"Active","sort":"0","allocation_message":"","allocation_start":"0000-00-00 00:00:00","checkout_cart_min":"0","allocation_end":"0000-00-00 00:00:00","discount":"0","free_shipping":"0","description":"Updated Customer Group"}

## Group Orders
Resources related to Orders.


## Orders [/orders]


### Cancel Order [DELETE /pos/orders{id}]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Filter Orders [POST /pos/orders/filter]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            [{"type": "range", "key": "datestamp", "from": 1522540800, "to": 1524097161},{"type": "term", "key": "payment_status", "value": "Paid"},{"type": "terms", "key": "ship_status", "value": ["Shipped", "Picked Up", "Completed"]}]

+ Response 200 (application/json)

    + Body

            {"id":"42","datestamp":"2018-03-23 16:24:15","last_update":"2018-03-23 16:24:15","status":"","subtotal":"45.00","tax":"3.15","shipping":"20.00","discount":"9.00","credits":"0.00","refund":"0.00","total":"59.15","customer_id":"1","address":"","address_2":"","address_id":"3979","birthday":"1982-11-1","city":"","company":"","credit_id":"19","credit_number":"4242","credit_type":"Visa","customer_credits":"0.00","discount_customer":"0.2","email":"example@commercebyfigure.com","first_name":"John","gift_message":"","instructions":"","item_count":"1","last_name":"Doe","order_id":"42","order_type":"Web","payment_status":"Paid","phone":"707-287-6262","salutation":"Mr.","shipping_address":"770 3rd St E","shipping_address_2":"","shipping_city":"Sonoma","shipping_company":"","shipping_first_name":"John","shipping_id":"3979","shipping_last_name":"Doe","shipping_method":"11","shipping_method_carrier":"FedEx","shipping_method_code":"FDXGND","shipping_method_name":"Ground","shipping_phone":"707-287-6262","shipping_state":"CA","shipping_title":"Shipping Address","shipping_zip":"95476","ship_status":"Shipped","state":"","tax_rate":"8.75","transaction_id":"36","zip":"","products":[{"id":"42","sku":"H","name":"2017 Pinot Meunier","type":"","bottle_size":"750mL","retail_price":"0.00","discount":"0.00","discount_type":"","price":"45","quantity":"1","status":"","description":"2017 Pinot Meunier ","image":"","stock_status":"","shipped":"0","created":"2018-03-23 16:24:18"}]}



### Get Order [GET /pos/orders/{id}]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"42","datestamp":"2018-03-23 16:24:15","last_update":"2018-03-23 16:24:15","status":"","subtotal":"45.00","tax":"3.15","shipping":"20.00","discount":"9.00","credits":"0.00","refund":"0.00","total":"59.15","customer_id":"1","address":"","address_2":"","address_id":"3979","birthday":"1982-11-1","city":"","company":"","credit_id":"19","credit_number":"4242","credit_type":"Visa","customer_credits":"0.00","discount_customer":"0.2","email":"example@commercebyfigure.com","first_name":"John","gift_message":"","instructions":"","item_count":"1","last_name":"Doe","order_id":"42","order_type":"Web","payment_status":"Paid","phone":"707-287-6262","salutation":"Mr.","shipping_address":"770 3rd St E","shipping_address_2":"","shipping_city":"Sonoma","shipping_company":"","shipping_first_name":"John","shipping_id":"3979","shipping_last_name":"Doe","shipping_method":"11","shipping_method_carrier":"FedEx","shipping_method_code":"FDXGND","shipping_method_name":"Ground","shipping_phone":"707-287-6262","shipping_state":"CA","shipping_title":"Shipping Address","shipping_zip":"95476","ship_status":"Not Shipped","state":"","tax_rate":"8.75","transaction_id":"36","zip":"","products":[{"id":"42","sku":"H","name":"2017 Pinot Meunier","type":"","bottle_size":"750mL","retail_price":"0.00","discount":"0.00","discount_type":"","price":"45","quantity":"1","status":"","description":"2017 Pinot Meunier ","image":"","stock_status":"","shipped":"0","created":"2018-03-23 16:24:18"}]}



### Search Orders [GET /pos/orders/search/{query}]

+ Parameters
  + query: ` `(string, required) - Order Search Query String


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"42","datestamp":"2018-03-23 16:24:15","last_update":"2018-03-23 16:24:15","status":"","subtotal":"45.00","tax":"3.15","shipping":"20.00","discount":"9.00","credits":"0.00","refund":"0.00","total":"59.15","customer_id":"1","address":"","address_2":"","address_id":"3979","birthday":"1982-11-1","city":"","company":"","credit_id":"19","credit_number":"4242","credit_type":"Visa","customer_credits":"0.00","discount_customer":"0.2","email":"example@commercebyfigure.com","first_name":"John","gift_message":"","instructions":"","item_count":"1","last_name":"Doe","order_id":"42","order_type":"Web","payment_status":"Paid","phone":"707-287-6262","salutation":"Mr.","shipping_address":"770 3rd St E","shipping_address_2":"","shipping_city":"Sonoma","shipping_company":"","shipping_first_name":"John","shipping_id":"3979","shipping_last_name":"Doe","shipping_method":"11","shipping_method_carrier":"FedEx","shipping_method_code":"FDXGND","shipping_method_name":"Ground","shipping_phone":"707-287-6262","shipping_state":"CA","shipping_title":"Shipping Address","shipping_zip":"95476","ship_status":"Shipped","state":"","tax_rate":"8.75","transaction_id":"36","zip":"","products":[{"id":"42","sku":"H","name":"2017 Pinot Meunier","type":"","bottle_size":"750mL","retail_price":"0.00","discount":"0.00","discount_type":"","price":"45","quantity":"1","status":"","description":"2017 Pinot Meunier ","image":"","stock_status":"","shipped":"0","created":"2018-03-23 16:24:18"}]}

## Orders Notes [/orders/notes]


### Add Note [POST /pos/orders/{id}/notes]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"message": "John would like to ship FedEx if possible.", "user_id": 1, "user_name": "Ian Tucker", "type": "Admin"}

+ Response 200 (application/json)

    + Body

            true



### Get Notes [GET /pos/orders/{id}/notes/{type}]

+ Parameters
  + id: ` `(number, required) - Order Id
  + type: ` `(string, required) - Note Type


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            [{"id":"4","customer_id":"42","created":"2018-04-19 09:14:09","type":"Admin","user_id":"1","user_name":"Ian Tucker","message":"John is a Great Customer!"},{"id":"1","customer_id":"42","created":"2018-04-19 09:09:51","type":"Admin","user_id":"1","user_name":"Ian Tucker","message":"John would like to ship FedEx if possible."}]

## Orders Packages [/orders/packages]


### Add Packages [PUT /pos/orders/{id}/packages]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            [{}]

+ Response 200 (application/json)

    + Body

            []



### Clear Packages [DELETE /pos/orders/{id}/packages]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Get Packages [GET /pos/orders/{id}/packages]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            []



### Remove Package [DELETE /pos/orders/{id}/packages/{tracking_number}]

+ Parameters
  + id: ` `(number, required) - Order Id
  + tracking_number: ` `(string, required) - Package Tracking Number


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true

## Orders Tags [/orders/tags]


### Add Tag [PUT /pos/orders/{id}/tags/{tag}]

+ Parameters
  + id: ` `(number, required) - Order Id
  + tag: ` `(string, required) - Tag


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Clear Tags [DELETE /pos/orders/{id}/tags]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Get Tags [GET /pos/orders/{id}/tags]

+ Parameters
  + id: ` `(number, required) - Order Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            ["RushDevliery","FedExOnly"]



### Remove Tag [DELETE /pos/orders/{id}/tags/{tag}]

+ Parameters
  + id: ` `(number, required) - Order Id
  + tag: ` `(string, required) - Tag


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true

## Group Payment
Resources related to Payment.


## Payment [/payment]


### Create Payment Method [POST /pos/payment]


+ Request (application/json)

  + Attributes
      + address (string, required) - Street Address
      + address_2 (string, optional) - Unit Number
      + card_token (string, required) - Stripe Credit Card Token
      + card_type (string, required) - Credit Card Brand ie: Visa, American Express, etc
      + city (string, required) - City
      + credit_expires_month (string, required) - Expires Month ie: 06
      + credit_expires_year (string, required) - Expires Year ie: 2016
      + credit_number (string, required) - Last 4 Digits of Credit Card Number
      + customer_id (number, required) - Customer Id
      + first_name (string, required) - Customer First Name
      + last_name (string, required) - Customer Last Name
      + phone (string, optional) - Customer Phone Number
      + state (string, required) - State
      + zip (string, required) - Zip Code
  
    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"first_name":"Ian","last_name":"Tucker","card_token": "XXXXXXXXX", "credit_type":"Visa","credit_number":"1111","credit_expires_month":"6","credit_expires_year":"2026","birthday":"1985-06-01","company":"Figure Commerce","phone":"7075558520","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42"}

+ Response 200 (application/json)

    + Body

            {"id":"22","fingerprint":"","credit_type":"Visa","credit_number":"1111","credit_expires_month":"6","credit_expires_year":"2026","profile_id":"0","payment_profile_id":"0","first_name":"Ian","birthday":"","phone":"","company":"","last_name":"Tucker","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42","default":"1","created":"2018-03-05 22:03:01","last_update":"0000-00-00 00:00:00"}



### Delete Payment Method [DELETE /pos/payment/{id}]

+ Parameters
  + id: ` `(number, required) - Payment Method Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Get All Payment Menthods [GET /pos/payment]


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"22":{"id":"22","fingerprint":"","credit_type":"Visa","credit_number":"1111","credit_expires_month":"6","credit_expires_year":"2026","profile_id":"0","payment_profile_id":"0","first_name":"Ian","birthday":"","phone":"","company":"","last_name":"Tucker","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42","default":"1","created":"2018-03-05 22:03:01","last_update":"0000-00-00 00:00:00"}}



### Get Default Customer Payment Method [GET /pos/payment/customer/{customer_id}/default]

+ Parameters
  + customer_id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"22","fingerprint":"","credit_type":"Visa","credit_number":"1111","credit_expires_month":"6","credit_expires_year":"2026","profile_id":"0","payment_profile_id":"0","first_name":"Ian","birthday":"","phone":"","company":"","last_name":"Tucker","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42","default":"1","created":"2018-03-05 22:03:01","last_update":"0000-00-00 00:00:00"}



### Get Payment Method [GET /pos/payment/{id}]

+ Parameters
  + id: ` `(number, required) - Payment Method Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"id":"22","fingerprint":"","credit_type":"Visa","credit_number":"1111","credit_expires_month":"6","credit_expires_year":"2026","profile_id":"0","payment_profile_id":"0","first_name":"Ian","birthday":"","phone":"","company":"","last_name":"Tucker","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42","default":"1","created":"2018-03-05 22:03:01","last_update":"0000-00-00 00:00:00"}



### Get Payment Methods By Customer [GET /pos/payment/customer/{customer_id}]

+ Parameters
  + customer_id: ` `(number, required) - Customer Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            {"22":{"id":"22","fingerprint":"","credit_type":"Visa","credit_number":"1111","credit_expires_month":"6","credit_expires_year":"2026","profile_id":"0","payment_profile_id":"0","first_name":"Ian","birthday":"","phone":"","company":"","last_name":"Tucker","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42","default":"1","created":"2018-03-05 22:03:01","last_update":"0000-00-00 00:00:00"}}



### Set Default Customer Payment Method [PUT /pos/payment/customer/{customer_id}/default/{id}]

+ Parameters
  + customer_id: ` `(number, required) - Customer Id
  + id: ` `(number, required) - Payment Method Id


+ Request (application/json)

    + Headers

            X-Auth-Token: XXXXXXXXX

+ Response 200 (application/json)

    + Body

            true



### Update Payment Method [PUT /pos/payment/{id}]

+ Parameters
  + id: ` `(number, required) - Payment Method Id


+ Request (application/json)

  + Attributes
      + address (string, optional) - Street Address
      + address_2 (string, optional) - Unit Number
      + city (string, optional) - City
      + company (string, optional) - Company Name
      + first_name (string, optional) - First Name
      + last_name (string, optional) - Last Name
      + phone (string, optional) - Phone Number
      + state (string, optional) - State
      + title (string, optional) - Address Title
      + zip (string, optional) - Zip Code
  
    + Headers

            X-Auth-Token: XXXXXXXXX
    + Body

            {"address": "523 Brown St", "city": "Napa", "state": "CA"}

+ Response 200 (application/json)

    + Body

            {"id":"22","fingerprint":"","credit_type":"Visa","credit_number":"1111","credit_expires_month":"6","credit_expires_year":"2026","profile_id":"0","payment_profile_id":"0","first_name":"Ian","birthday":"","phone":"","company":"","last_name":"Tucker","address":"523 Brown St","address_2":"","city":"Napa","state":"CA","zip":"94559","country":"US","customer_id":"42","default":"1","created":"2018-03-05 22:03:01","last_update":"0000-00-00 00:00:00"}